:root {
    --color_p0_0: #ffffff; /* Blue */
    --color_p0_1: #083347; /* Gold */
    --color_p0_2: #F5B346; /* Yellow */
    --color_p1_0: #6483A0; /* Steel Blue */
    --color_p1_1: #756C5D; /* Brown */
    --color_p1_2: #3F454B; /* Dark Gray */
    --color_p2_0: #FFFFFF; /* White */
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
}

.header {
    width: 100%;
    height: 16.67vh; /* 2/12 of the window height */
    background-color: var(--color_p0_0);
    color: var(--color_p2_0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.header h1 {
    margin: 0;
    font-size: calc(1 * min(12vh, 24vw)); /* Set font size to 80% of the smaller dimension (height or width) */
    font-weight: 900;
    background: url('../images/img_Decor_00.jpg') no-repeat; /* Use the image as a texture */
    background-size: cover; /* Ensure the image covers the text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    white-space: nowrap; /* Turn off word wrap */
    max-width: 100%; /* Prevent text from extending beyond the bounds of the header space */
    max-height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 100%;
    height: 83.33vh; /* 10/12 of the window height */
    display: flex;
    position: relative;
    background-color: var(--color_p2_0);
}

.particle-effect-block {
    width: 16.67%; /* 2/12 width of the main section */
    height: 100%; /* Full height of the main section */
    background-color: var(--color_p0_1); /* Set background color to p0_1 */
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 1); /* Inward shadow */
}

#particleCanvas {
    width: 100%; /* Cover the entire rectangle */
    height: 100%; /* Match the rectangle's dimensions */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; /* Place on top of the red rectangle */
    pointer-events: none; /* Ensure it doesn't interfere with interactions */
}

.content {
    margin-left: 16.67%; /* Adjust margin to match the particle effect block width */
    margin-right: 16.67%; /* Add right margin */
    margin-top: calc(83.33vh / 12 / 2); /* Add top margin */
    margin-bottom: calc(83.33vh / 12 / 2); /* Add bottom margin */
    width: 66.66%; /* Adjust width to match the remaining space */
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    justify-content: flex-start; /* Align children to the top */
    align-items: center;
}

.profile {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* Add some space between the profile and the link */
}

.profile-text {
    width: 50%;
}

.profile-space {
    width: 0.5rem; /* Small width for spacing */
}

.profile-text-left {
    text-align: right;/* Ensure the text is right aligned */
    font-weight: 700;
    color: var(--color_p0_1); /* Set color to p0_1 */
}

.profile-text-right {
    text-align: left;
    font-weight: lighter;
    color: var(--color_p0_2); /* Set color to p0_2 */
}

h2 {
    font-size: calc(1.5rem + 2vw); /* Increase the text size responsively */
    margin: 0; /* Remove default margin */
}

.page-link {
    color: var(--color_p1_2);
    text-decoration: none;
}

.footer {
    width: 100%;
    height: 8.33vh; /* 1/12 of the window height */
    background-color: var(--color_p1_0);
    color: var(--color_p2_0);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
