/* Default font for the entire site */
body {
    font-family: 'Segoe UI Light', sans-serif;
    margin: 0%;
}

h1 {
    margin: 0%;
    font-family: 'Segoe UI Heavy', sans-serif;
    font-weight: 900;
    position: absolute; 
    bottom: 4%; 
    width: 100%;
    font-size: xxx-large;
}

.header {
    height: auto;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    margin: 0%;
    padding: 4%;
    background-color: rgb(44, 44, 44);
}

.content {
    height: auto;
    background-color: rgb(99, 99, 99);
    position: relative;
    top: 0%;
    padding: 2%;
    margin-left: 4%;
    margin-right: 4%;
}

.teams {
    background-color: aqua;
    position: relative;
    height: auto;
    width: 100%;
}