/* Default font for the entire site */
body {
    font-family: 'Segoe UI Light', sans-serif;
    margin: 0%;
}

.banner {
    width: 100vw;
    height: 20vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_banner {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content {
    margin-left: 10vw;
    margin-right: 10vw;
    height: 80vh;
}
    
.profilePicture {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(20vh - 10vh); /* 10vh is half of the height to center it */
    left: 0;
    margin-left: 10vw; /* Align with the parent's left margin */
}

.img_profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
