:root {
    --color_p: #ffffff;
    --color_h: #e2e2e2;
    --color_h_bg: #3b3b3b;
    --color_shadows: #000000;
}

body {
    background-color: var(--color_h_bg);
    padding: 0px;
}

.card {
    box-shadow: 0px 0px 10px 0px var(--color_shadows);
    margin: 1%;
    border-color: var(--color_h_bg);
    border-radius: 0px;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
    background-color: var(--color_h_bg);
}

.card-title{
    font-size: 1.5em;
    font-weight: lighter;
    text-align: left;
    margin-bottom: 0px;
    padding: 4%;
    color: var(--color_h);
}

.card-body {
    padding: 4%;
}

.list-group {
    border-radius: 0px;
    margin: 0px;
    padding-left: 4%;
    padding-right: 4%;
    scrollbar-width: none;
}

.list-group-item {
    border-radius: 20px;
    background-color: var(--color_h_bg);
    border-color: var(--color_h_bg);
    color: var(--color_p);
    font-weight: lighter;
}

.p {
    color: var(--color_p);
}

.h1 {
    color: var(--color_h);
}